h1 {
    padding-left: 8px;
}

h2 {
    padding-top: 40px;
    padding-left: 8px;
    color: maroon;
}

h3 {
    padding-left: 12px;
    font-size: 20px;
}

p {
    padding-left: 16px;
}

li {
    padding-top: 4px;
    font-size: 18px;
}

* {
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#headpic {
    padding-left: 12px;
}

#apps {
    display: flex;
    flex-wrap: wrap;
}

.app {
    padding-left: 20px;
}