h1 {
    padding: 12px 20px;
}

h2 {
    padding: 8px 16px;
    margin: 4px;
    color: maroon;
}

h3 {
    padding: 8px 4px;
    padding-top: 0px;
    margin: 4px;
    font-size: 20px;
}

p {
    padding: 0px 20px;
    margin: 8px;
}

li {
    padding: 4px;
    font-size: 18px;
}

ul {
    padding: 0px 40px;
    margin: 4px;
}

* {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#headpic {
    padding-left: 20px;
    margin: 4px;
}

#apps {
    display: flex;
    flex-wrap: wrap;
    padding: 4px 8px;
}

.app {
    padding-left: 8px;
    margin: 8px;
}

.first-bar {
    background-color: beige;
    padding-bottom: 8px;
}

.second-bar {
    background-color: white;
    padding-bottom: 8px;
}

#MyWork {
    padding-top: 16px;
    padding-bottom: 4px;
}